<section id="blue" class="hero dark">
  <div class="container">
    <h1>Kvinderne i Sjørring</h1>
  </div>
</section>

<div id="kiswrap"></div>

<section class="section section-narrow">
  <div class="container">
    <article class="panel text-center">
      <h2>Kvinderne i Sjørring</h2>
      <hr />
      <p>Kvinderne i Sjørring har en forening kaldet KiS-klubben.</p>
      <p>Bor man i Sjørring og er kvinde, er man altid velkommen i KiS-klubben uanset alder.</p>
      <p>Vil du være med, så kan du rekvirere en oversigt over de kommende arrangementer hos Kis Steffensen, Hobro Landevej 154.</p>
      <p>Der tages mange sjove, idérige og lærerige initiativer af medlemmerne. Det er aldrig for sent at melde sig til.</p>
    </article>
  </div>
</section>

