<section id="blue" class="hero dark">
  <div class="container">
    <h1>Rundt om Sjørring</h1>
  </div>
</section>

<div id="omkringwrap"></div>

<section class="section section-narrow">
  <div class="container">
    <article class="panel text-center">
      <h2>Rundt om Sjørring</h2>
      <hr />
      <p>Byen har sin udstrækning langs Hobro Landevej, parallelt med Tjele langsø.</p>
      <p>Sølandingen giver adgang til den østlige ende af søen. Her finder man en anløbsbro samt et par bord-bænkesæt.</p>
    </article>
  </div>
</section>

